@import url("https://fonts.cdnfonts.com/css/amazon-ember");
* {
  font-family: "Amazon Ember Display", sans-serif;
  -webkit-box-sizing: border-box;
}
body {
  background: #ffffff;

  height: 100%;
  width: 100%;
}
nav {
  grid-area: nav;
  display: flex;
  position: relative;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  background: #131921;
  /* width: 99.6vw; */
  min-width: 100vw;
  height: 60px;
  padding: 0 8px 0 30px;
}
.logo {
  width: 99px;
  height: 49px;
  background: url("../Img/resized-amazon-logo.png") no-repeat center
    center/cover;
  grid-area: logo;
}
.logo:hover {
  border: 1px solid whitesmoke;
  cursor: pointer;
}
.shipping {
  grid-area: deliver;
  width: 95px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shipping .p {
  display: inline-block;
  width: 95px;
}
.deliver {
  color: #a3a4a6;
}
.loc {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.shipping:hover {
  border: 1px solid whitesmoke;
  width: 95px;
  cursor: pointer;
}
.search {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-grow: 1;
  width: 450px;
  padding: 0 8px;
  grid-area: search;
}

.dropbtn {
  background-color: #d4d4d4;
  color: #646464;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  width: 52px;
  height: 38px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d4d4d4;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 196px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b1b0b0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #b1b0b0;
  color: black;
}
.searchbar {
  width: 100%;
}

.sbar {
  width: 100%;
  border: 2px solid white;

  height: 38px;
}
.simg {
  width: 40px;
  height: 38px;
  border-radius: 0 5px 5px 0;
}
.lang {
  width: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
}
.usaimg {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.lang .h4 {
  display: inline-block;
}
.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 131px;
  height: 50px;
}
.signin:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
}
.acclink {
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  top: 18px;
}
.acclink:hover {
  color: #ffffff;
  text-decoration: none;
}
.acclink h5 {
  font-weight: 500;
}
.returns {
  width: 77px;
  height: 50px;
}
.returns:hover {
  border: 2px solid whitesmoke;
  width: 77px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
.cart {
  grid-area: cart;
  width: 84px;
  height: 50px;
  display: flex;
  position: relative;
}
.cart:hover {
  border: 2px solid whitesmoke;
  cursor: pointer;
}
.cart > p {
  position: absolute;
  left: 50px;
  top: 20px;
}
.bottomnav {
  grid-area: bottomnav;
  height: 39px;
  width: 100%;

  background: #232f3e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bottomnav > a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px 0 30px;
}
.bmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#botnavp {
  padding: 10px 0 0 5px;
}
.back-btn {
  padding-left: 10px;
  color: #717373;
  text-decoration: none;
  display: block;
  position: absolute;
  top: -180px;
  left: 0;
}
.back-btn:hover {
  text-decoration: underline;
}

.sideimg {
  grid-area: sideimg;
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: sticky;
  margin: auto;

  max-width: 500px;
}
.main {
  grid-area: main;
  /* border: 1px solid black; */
  max-width: 705px;
  margin: auto;
}
.side2 {
  grid-area: side2;
  /* border: 1px solid black; */
  max-width: 242px;
  margin-top: 30px;
}
.footer {
  grid-area: footer;
  /* border: 1px solid black; */
  max-height: 500px;
  max-width: 1464px;
  margin: auto;
}

.row > img {
  width: 80px;
}
/* The grid: Four equal columns that floats next to each other */
.column {
  position: sticky;
  width: 10%;
  padding: 10px 10px 10px 20px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  border-radius: 40%;
}

.column img:hover {
  opacity: 1;
  border: rgb(61, 156, 214) 1px solid;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  position: sticky;
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.main .r1 {
  border-bottom: #bbbfbf 1px solid;
}
.main .r2 {
  border-bottom: #bbbfbf 1px solid;
}
.r2 p {
  color: #b12704;
}
.r2 span {
  color: #646464;
}
.optionsflex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.op {
  cursor: pointer;
  border-radius: 10px;
  margin-right: 20px;
}
.op img {
  width: 76px;
  height: 78px;
}
.op:hover {
  border: rgb(61, 156, 214) 1px solid;
}
.main .r3 {
  border-bottom: #bbbfbf 1px solid;
}
.main .r4 {
  margin-top: 30px;
  border-top: #bbbfbf 1px solid;
  display: block;
}
.main .r4 p {
  color: #131921;
  text-align: left;
}
.side2 .info {
  height: 300px;
}
.side2 .info span {
  text-align: left;
  color: #b12704;
}
.side2 p {
  display: inline-block;
  padding: 4px;
}
.info {
  border: #bbbfbf 1px solid;
  border-radius: 5px;
  padding: 14px 18px;
}
.info a {
  text-decoration: none;
  color: #007185;
}
.info a:hover {
  color: #b12704;
}
.info button {
  display: block;
  margin: auto;
  /* margin-left: 20px;
  padding: 10px; */
  min-width: 204px;
  min-height: 29px;
  background-color: #ffd814;
  border-radius: 10px;
  border: none;
}
.info button:hover {
  background-color: #ceae10;
}

.sell {
  text-align: center;
}
.sell button {
  background: #ffffff;
  border-radius: 5px;
  padding: 4px 8px;
}
.sell button:hover {
  background: #e4e3e3;
}
.footer {
  border-top: #bbbfbf solid 1px;
}
.footernav {
  display: flex;
  justify-content: space-between;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 160px;
  height: 460px;
  margin: 10px 20px;
}
.card img {
  width: 160px;
  height: 160px;
}
.card a {
  max-height: 80px;
  width: 160px;
  text-decoration: none;
  color: #007185;
}
.card a:hover {
  text-decoration: underline;
  color: #b12704;
}
.card .rating {
  height: 20px;
  width: 80px;
}
.card .category {
  max-height: 15px;
}

.card .price {
  height: 22px;
}
.card .freeshipping {
  height: 35px;
  font-size: 12px;
}
/* Mobile Menu */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  overflow: visible;
}

.main-grid {
  display: grid;
  grid-template-areas:
    "nav"
    "bottomnav"
    "inner-grid";
  min-width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
}
.inner-grid {
  grid-area: inner-grid;
  display: grid;
  grid-template-areas:
    "sideimg sideimg main main main side2"
    "sideimg sideimg main main main side2"
    "sideimg sideimg main main main side2"
    "sideimg sideimg main main main side2"
    "footer footer footer footer footer footer ";
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  max-width: 1464px;
  margin: auto;
}
.mobilenav {
  grid-area: mobilenav;
  display: none;
}
@media (max-width: 500px) {
  body {
    width: 100vw;
  }
  .main-grid {
    grid-template-areas:
      "mobilenav"
      "inner-grid";
    justify-content: center;
    align-items: center;

    width: 100vw;
  }
  .inner-grid {
    grid-template-areas:
      "sideimg"
      "main"
      "side2";
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
  }

  .sideimg {
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .footer {
    display: none;
  }
  nav {
    display: none;
  }
  .bottomnav {
    display: none;
  }
  .mobilenav {
    display: flex;
    flex-direction: column;
    background-color: #232f3e;
    width: 100%;
  }
  .nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    width: 100%;

    height: 60px;
  }
  .menu-wrap {
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }

  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: translateX(0);
    transition-duration: 1s;
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    transform: translateX(-100vw);
    transition: all 0.4s ease;
  }
  .browse {
    background: #232f3e;
    height: 128px;
    width: 100%;
    padding-left: 20px;
    color: #fff;
  }
  .browse a {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
  }
  .amazonhome {
    display: flex;
    margin: auto;
    height: 55px;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: #d5dbdb solid 3px;
    cursor: pointer;
    background: #ffffff;
  }
  .trending {
    height: 106;
    width: 100%;
    border-bottom: #d5dbdb solid 3px;
    margin-left: 20px;
    background: #ffffff;
  }
  .trending p {
    font-size: 18px;
  }
  .topdepartments {
    height: 320px;
    width: 100%;
    margin-left: 20px;
    line-height: 5rem;
    cursor: pointer;
    background: #ffffff;
  }

  .logo {
    width: 80px;
    height: 40px;
    background: url("../Img/resized-amazon-logo.png") no-repeat center
      center/cover;
    grid-area: logo;
  }
  .nav1 .cart {
    width: 150px;
  }
  .nav1 .cart:hover {
    border: none;
  }
  .nav1 .cart a {
    color: #fff;
  }
  .nav2 {
    width: 90%;
    height: 60px;
    position: relative;
  }
  .search {
    width: 100%;
  }
  .nav3 {
    width: 100%;
    height: 44px;
    color: #fff;
    background: #37475a;
    display: flex;
    padding: 5px 8px;
  }
  .sideimg {
    width: 500px;
  }
  .main {
    width: 500px;
    padding: 0 30px;
  }
  .side2 {
    margin: auto;
  }
}
